:root{
    --cor-hover: white
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul, ol, li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.menu{
    background-color: black;
    color: white;
    display: flex;
    justify-content: end;
    gap: 16px;
    padding: 8px;
}
.menu img{
    height: 18px;
}

li{
    background-color: none;
    padding: 4px 8px;
}

li:hover{
    background-color: var(--cor-hover);
    transition: .4s;
}